<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sample">

   <resultMap type="com.ssg.global.dto.SampleDto" id="sampleDto">
      <result column="test_column" property="testColumn"/>
   </resultMap>
   
   <insert id="insert" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="sample_id">
      insert into spring_boot_sample (subject, content) values (#{subject}, #{content})
   </insert>
   
   <select id="selectOne" parameterType="String" resultMap="sampleDto">
      select * from spring_boot_sample where sample_id = #{sampleId}
   </select>
   
   <select id="selectList" parameterType="String" resultMap="sampleDto">
      select * from spring_boot_sample
   </select>   
   
</mapper>